*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background-color: #34415e;
}

.app {
  width: 90vw;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .app {
    width: 60vw;
  }
}

input,
textarea {
  width: 100%;
  height: 2rem;
  background-color: #34495e;
  color: white;
  border: 1px solid salmon;
  border-radius: 0.25rem;
}

textarea {
  height: 10rem;
}

input:disabled,
textarea:disabled {
  background-color: #587ca0;
}

::-webkit-input-placeholder {
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

::placeholder {
  color: white;
}

button {
  background-color: salmon;
  color: white;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.5rem 0.75rem;
}

button:disabled {
  cursor: not-allowed;
  background-color: #fdd9d5;
}

button.delete {
  background-color: red;
}

button.delete:disabled {
  background-color: #ff6666;
}

h2 {
  color: salmon;
}

hr {
  color: salmon;
  border-color: salmon;
  background-color: salmon;
}

.todo-list {
  margin-top: 15px;
}

.todo {
  border-bottom: 1px solid salmon;
  padding: 2px 5px 5px;
}

.todo .date {
  display: block;
  color: lightsalmon;
}

.todo .name {
  display: block;
  font-weight: bold;
  color: darksalmon;
}

.todo .description {
  color: salmon;
}
